/* Global styles */

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: rgba(248, 248, 248, 1);
  padding-top: 50px;
}

.container {
	width: 100%;
	height: 100%;

}


/*********************/
/* Home page styles */

/* Phones background */
@media (max-width: 768px) {
  #home-body{
    background-image: url("../img/home-background.jpg");
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 33%, rgba(248, 248, 248, 0.65) 100%), url('../img/home-background.jpg') no-repeat;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* Tablets background */
@media (min-width: 768px) and (max-width: 992px) {
  #home-body{
  	background-image: url("../img/home-background.jpg");
  	background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 33%, rgba(248, 248, 248, 0.45) 100%), url('../img/home-background.jpg') no-repeat;
  	background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* Desktops background */
@media (min-width: 992px) and (max-width: 1200px) {
  #home-body{
    background-image: url("../img/home-background.jpg");
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 33%, rgba(248, 248, 248, 0.45) 100%), url('../img/home-background.jpg') no-repeat;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/* Large Desktops background */
@media (min-width: 1200px) {
  #home-body{
    background-image: url("../img/home-background.jpg");
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 33%, rgba(0, 0, 0, 0) 100%), url('../img/home-background.jpg') no-repeat;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.btn-home-cta {
  margin-top: 1em;
  border-radius: 0px;
}

/* Align CTA buttons to the bottom of the row on large desktops */
@media (min-width: 1200px) {
  .home-cta-div {
    min-height: 325px;
  }

  .btn-home-cta {
    position: absolute;
    bottom:   0;
  }
}

/*********************/
/* Launching spots page styles */

#launching-body {
	padding-top: 50px;
}

#launching-map {
	height: 100%;
	padding: 0;
}

#launching-map .row-map {
    height: 100%;
    margin: 0;
}

/*********************/
/* Google Maps styles */

.map-controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 33%;
  min-width: 170px;
  max-width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

/*********************/
/*Routes listing styles*/

.route-map {
	min-height: 400px;
}

.route-row {
	min-height: 250px;
}

.route-map-preview {
  min-height: 250px;
  min-width: 100% ;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

#route-row-iseltwald {
  background-image: url("../img/iseltwald-background.jpg");
  background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 45%, rgba(0, 0, 0, 0) 93%, rgba(248, 248, 248, 1) 100%), url('../img/iseltwald-background.jpg');
  background-repeat: no-repeat;
  background-position: center 62%;
  background-attachment: scroll;
  background-size: cover;
}

#route-row-lachen {
  background-image: url("../img/lachen-background.jpg");
  background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 45%, rgba(0, 0, 0, 0) 93%, rgba(248, 248, 248, 1) 100%), url('../img/lachen-background.jpg');
  background-repeat: no-repeat;
  background-position: center 42%;
  background-attachment: scroll;
  background-size: cover;
}

/*********************/
/*Route information page styles*/

#route-title-row-iseltwald {
	min-height: 30%;
	background-image: url("../img/iseltwald-background.jpg");
	background: linear-gradient(to top, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(0, 0, 0, 0) 100%), url('../img/iseltwald-background.jpg');
	background-repeat: no-repeat;
  background-position: center 66%;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

#route-title-row-lachen {
  min-height: 30%;
  background-image: url("../img/lachen-background.jpg");
  background: linear-gradient(to top, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(0, 0, 0, 0) 100%), url('../img/lachen-background.jpg');
  background-repeat: no-repeat;
  background-position: center 42%;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.route-weather {
  width: 378px;
  height: 352px;  
}

/*********************/
/* About page */
.about-title-row {
  min-height: 30%;
  background-image: url("../img/about-background.jpg");
  background: linear-gradient(to top, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, 1) 20%, rgba(0, 0, 0, 0) 100%), url('../img/about-background.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.about-social-icon  {
  font-size: 1.2em;
  text-align: right;
}
.about-attribution-row {
  margin-top: 3em;
  vertical-align: center;
}
.about-social-icon > a {
  margin-left: 1em;
  margin-right: 1em;
}