    <!-- Begin main page content -->
    <div class="container">
      <div class="row route-title-row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <h1>Route Name</h1>
          <p>Description of route</p>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <h2>Where is this route?</h2>
          <div id="map-canvas" class="route-map"></div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6">
          <h2>About this route</h2>
          <table class="table table-condensed">
            <tr>
              <th>Paddling Environment</th>
              <td></td>
            </tr>
            <tr>
              <th>Paddling Time</th>
              <td>
                  <p>Kayak: x hours</p>
                  <p>Canoe: x hours</p>
                  <p>SUP: x  hours</p>
              </td>
            </tr>
            <tr>
              <th>Diffculty</th>
              <td>Beginner / Intermediate / Expert</td>
            </tr>
          </table> 
        </div>
        <div class="col-lg-4 col-route-weather">
          <h2>Weather forcast for this route</h2>
          <!-- Change URL to suit location of route -->
          <iframe src="https://www.meteoblue.com/en/weather/widget/daily/iseltwald_switzerland_2660246?geoloc=fixed&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&windgust=1&winddirection=0&winddirection=1&uv=0&uv=1&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups" style="width: 378px;height: 352px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/forecast/week/iseltwald_switzerland_2660246?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank">Provided by meteoblue.com</a></div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <h2>Hazards on this route</h2>
          <table class="table table-condensed">
            <tr>
              <th>Weather</th>
              <td></td>
            </tr>
            <tr>
              <th>Environment</th>
              <td></td>
            </tr>
            <tr>
              <th>Traffic</th>
              <td></td>
            </tr>
            <tr>
              <th>Wildlife</th>
              <td></td>
            </tr>
          </table> 
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
    <!-- End main page content -->